body{
    background-color: rgb(15, 15, 15);
}

 nav, div{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-flow: row;
 }
 
 .busca{
    background-color: rgb(41, 40, 40);

 }